<div class="container">
  <div class="pokemon-tables">
    <div class="action-bar">
      <button class="pokemon-button" (click)="navigateToNewPage(!showTable)">
        <span *ngIf="showTable && !isLoading">Back</span>
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span *ngIf="!showTable && !isLoading">Pokemon Tables</span>
      </button>

      <div class="timer">
        <span>Time spent in app: {{ timeSpentInApp }}</span>
      </div>

      <button *ngIf="showTable" class="download-button" (click)="download()">
        Download CSV
      </button>
    </div>
    <div *ngIf="showTable">
      <h1>Pokémon Table</h1>

      <ngx-datatable
        class="bootstrap datatable"
        [rows]="rows"
        [columns]="[
          { prop: 'name', name: 'Name' },
          { prop: 'height', name: 'Height' },
          { prop: 'weight', name: 'Weight' },
          { prop: 'id', name: 'Rank' },
        ]"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="12"
        [count]="rows.length"
        (activate)="onActivate($event)"
      >
      </ngx-datatable>
    </div>
  </div>
  <div *ngIf="!showTable">
    <div *ngFor="let item of data">
      <h2>{{ item.title }}</h2>
      <p>{{ item.body }}</p>
    </div>
  </div>
</div>
